
body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
    text-transform: capitalize;
    background-color: #ffffff;
}

.container-flex {
	
    margin: 0 auto; 
    max-width: 960px; 
    width: 960px; 
}
.main-container, .navigation, .main-unit, .popular-goods, .navigation, .drill-container, .manufacturers-list, .brend-container, .services-list, .slide-container, .advertising, .contacts, .brend {
    
    margin: 0 auto;
    width: 940px;
    max-width: 940px;
    padding: 0 10px;
}
.slider-wrapper,
.drill,
.brend,
.slider
.services-list-link,
.advertising-links-company,
.footer-top-line,
.footer-navigation,
.social-networks {
  list-style: none;
}
a { 
    text-decoration: none;
    color: #ffffff;
}
ul {
	list-style:none
}
/*--------------------Top Line--------------------------*/
.main-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
    padding-bottom: 60px;
    background-color: #f1f5f7;
}
.top {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-orient: horizontal;
	 -webkit-box-direction: normal;
	     -ms-flex-direction: row;
	         flex-direction: row;
	 -webkit-box-pack: justify;
	     -ms-flex-pack: justify;
	         justify-content: space-between;
	 -webkit-box-align: center;
	     -ms-flex-align: center;
	         align-items: center; 
     padding:0 10px;
     width: 940px;	 
}
.logo-search-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 540px;
}

.info-company {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	padding-left: 8px;
	width: 30%;
}

.main-header-logo {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    background-color: #ee3643;
	margin-top: 0;
    margin-bottom: -4px;
    width: 220px;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 7px;
    border-bottom: 5px solid #b52933;
}
.menu-search {
	position: relative;
    width: 270px;  
}
.menu-search .icon-search {
  position: absolute;
  top: 12px;
  left: 17px;
  display: block;
  width: 17px;
  height: 17px;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.search-name:hover + .icon-search {
  opacity: 1;
}
.search-name:focus + .icon-search {
  background-image: url(../img/icon-search-red.svg);
  background-repeat: no-repeat;
  opacity: 1;
}
.logo-search-container .search-name {
  background-color: #293449;
  border: none;
}
.search-name { 
width: 100%; 
min-height: 42px; 
padding-left: 50px; 
font-size: 17px; 
line-height: 18px; 
color: #000000; 
-webkit-box-sizing: border-box; 
        box-sizing: border-box; 
}

.search-name::-webkit-input-placeholder {
  color: #ffffff;
}

.search-name:-ms-input-placeholder {
  color: #ffffff;
}

.search-name::-ms-input-placeholder {
  color: #ffffff;
}

.search-name::placeholder {
  color: #ffffff;
}
.search-name:hover {
  background-color: #212a3a;
}
.search-name:focus {
  background-color: #ffffff;
}
.search-name:focus::-webkit-input-placeholder {
  color: #000000;
}
.search-name:focus:-ms-input-placeholder {
  color: #000000;
}
.search-name:focus::-ms-input-placeholder {
  color: #000000;
}
.search-name:focus::placeholder {
  color: #000000;
}
.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  padding: 0 21px;
  -webkit-box-shadow: 0 5px 0 0 #293449;
          box-shadow: 0 5px 0 0 #293449;
}
.top-line-container {
	background-color: #293449;
}
.footer-menu {
	background-color: #32425c;
}
.list li {
	display: inline-block;
}
.main-header-logo:hover {
	background-color: #ca2c37;
}
.main-header-logo:focus {
	background-color: #ba2732;
}
.icon-cart {
	fill-opacity: 0.3;
	margin-right: 17px;
	fill: #b7bfc8;
}
.search-name,
.main-header-tab,
.main-header-basket {
	font-size: 17px;
    line-height: 18px;
	color: #ffffff;
	text-transform: none;
}
.menu-search:hover,
.main-header-tab:hover,
.main-header-basket:hover {
	 background-color: #212a3a;
}

.main-header-tab:focus,
.main-header-basket:focus {
	background-color: #161d29;
}

.order-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 450px;
    margin-left: auto;
}

.order-block a {
	display: block; 
	 position: relative; 
    text-align: left; 
    vertical-align: middle;
    font-size: 17px;
    color: #ffffff;
    padding-top: 11px;
    padding-bottom: 12px;
}
.main-header-tab {
	width: 105px;
    padding-left: 45px;
}
.main-header-tab::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;
    width: 14px;
    height: 16px;
    background-image: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}
.main-header-basket {
	width: 100px;
    padding-left: 50px;
}
.main-header-basket::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 22px;
    width: 15px;
    height: 15px;
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}
.main-header-buy {
	background-color: #63a63e;
	font-size: 17px;
    line-height: 18px;
	text-transform: none;
	color: #ffffff;
	padding-left: 20px;
	text-align: center; 
	width: 130px;
	display: block;
}
.main-header-buy:hover {
	background-color: #5fbb2d;
}
.main-header-buy:focus {
	background-color: #518534;
}
.communications {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    padding: 0 10px;
    width: 940px;
}
.communications {
	margin-top: 24px;
	margin-bottom: 20px;
	background-color: #f3f7f8;
}
.description-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-sizing:content-box;
	        box-sizing:content-box;
}

.description-container {
    width: 200px;
    margin: 0;
    padding: 0;
    margin-left: 53px;
    margin-top: 10px;
    margin-right: 67px; 
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;
    text-align: left;
	text-transform: none;
}
.info-company {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 320px;
	padding-top: 14px;
	padding-right: 16px;
	-webkit-box-sizing:content-box;
	        box-sizing:content-box;
	
}
.user-block  { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: horizontal; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: row; 
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center; 
    -webkit-box-sizing:content-box; 
            box-sizing:content-box;
    text-align: right;
    margin: 0;
    padding: 0;
	padding-bottom: 4px;
    max-width: 300px;
    margin-left: auto;
}
.user .block-user {
	display: block;
    font-size: 21px;
    line-height: 21px;
    color: #32425c;
    text-align: center;
    padding: 11px 24px;
    background-color: #ffffff;
}

/*-------------Каталог/user------*/
.user-order {
  padding-left: 0px;
  padding-top: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.user-order li:first-child {
  position: relative;
}
.user-name{
  text-transform: none;
  font-size: 21px;
  line-height: 21px;
  display: block;
  color: #000000;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 6px;
 }
.user-links a {
	text-transform: none;
}
.user-name:hover::before,
.login-link:hover::before {
  opacity: 1;
}
.user-name:hover::after {
  opacity: 1;
}
.user-name:active::before {
  opacity: 0.4;
}
.user-name:active::after {
  opacity: 0.4;
}
.user-name {
  position: relative;
  padding-left: 46px;
  margin-bottom: 9px;
}
.user-name::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 12px;
  left: 15px;
  background: url("../img/icon-user.svg") no-repeat 0 0;
  opacity: 0.3;
}

.login-out {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 13px;
  right: 2px;
  background: url("../img/icon-logout.svg") no-repeat 0 0;
  opacity: 0.3;
}
.login-out:hover {
  opacity: 1;
}
.login-out:active {
  opacity: 0.3;
}
.user-links li {
  display: inline-block;
}
.my-orders-catalog {
  padding-left: 16px;
  padding-right: 17px;
}
.private-area {
	 padding-left: 10px;
}
.my-orders-catalog::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 10px;
  right: 8px;
  background-color: #32425c;
}
.private-area,
.my-orders-catalog {
  text-decoration: underline;
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
}
.private-area a:hover,
.my-orders-catalog a:hover {
  color: #ee3643;
}
.private-area a:active,
.my-orders-catalog a:active,
a.user-name:active {
  color: #cacaca;
}

/*--------------------------------*/
.phone {
    position: relative;
    margin: 0;
	margin-top: 3px;
	margin-left: 3px;
    padding: 10px 50px;
    padding-left: 66px; 
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    text-align: center;
    border: 2px solid #ffffff;
}

.icon-phone {
	fill: none;
	fill-opacity: 1.0;
	padding-right: 30px;
    color: #b7bfc8;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 19px;
    height: 19px;
}
.address {
    margin: 0;
    padding: 0; 
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    text-align: center;
	text-transform: none;
	font-style: none;
}
.user-block .login {
	position: relative;
    margin-right: 8px;
    padding-left: 47px;
    padding-right: 28px;
}
.login {
   position: relative;
    width: 40px;
    background-color: #ffffff;
    font-size: 21px; 
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 17px;
    padding-left: 5px;
	margin-left: 5px;
	margin-bottom: 8px;
}
.login-icon::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 14px;
    width: 20px;
    height: 17px;
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3; 
}
.chekin {
	display: inline-block;
    background-color: #ffffff;
    font-size: 21px; 
    padding-top: 16px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-left: 5px;
	margin-bottom: 8px;
}

.login,
.chekin {
	font-size: 21px;
    line-height: 21px;
	color: #000000;
    background-color: #ffffff;
	text-transform: none;
	text-align: center;
}
.login:hover,
.chekin:hover {
	color: #ee3643
}
.login:active,
.chekin:active {
	color: rgba(0,0,0, 0.3);
}
.login:hover::before {
	background-image: url(../img/icon-login.svg);
    opacity: 1;
}

.navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding: 0;
	padding-left: 21px;
    padding-right: 24px;
    line-height: 17px;
    background-color: #32425c;
    -webkit-box-shadow: 0 5px 0 0 #293449;
            box-shadow: 0 5px 0 0 #293449;
}

.navigation a {
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
	text-transform: none;
    display: block;
    padding: 25px 30px 13px;
    background-color: #32425c;
}
.navigation a:hover {
	background-color: #293449;
}
.navigation a:focus {
	background-color: #1d2739;
}
/*------------------------Материалы слайдер и т.д.------*/

.main-unit { 
display: -webkit-box; 
display: -ms-flexbox; 
display: flex; 
-webkit-box-orient: horizontal; 
-webkit-box-direction: normal; 
-ms-flex-direction: row; 
flex-direction: row; 
-ms-flex-pack: end; 
-ms-flex-wrap: wrap; 
flex-wrap: wrap; 
width: 940px; 
padding: 0 10px; 
padding-top: 64px; 
padding-bottom: 33px; 
color: #ffffff; 
justify-content: space-between; 
}
.materials h2,
.equipment h2,
.tool h2,
.discount-link h2,
.delivery h2 {
	font-size: 24px;
    line-height: 30px;
	color: #ffffff;
	margin: 0;
	padding-left: 22px;
	padding-top: 25px;
}

.materials,
.tool,
.equipment,
.discount-link,
.delivery {
    position: relative;
    width: 300px;
    height: 122px;
    padding-left: 23px;
    margin-bottom: 27px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;;
}
.discount-link h2,
.delivery h2 {
	padding-top: 24px;
}
.discount-link{
    
	padding-bottom: 10px;
}
.tool {
  width: 300px;
  margin-bottom: 20px;
  min-height: 123px;
}
.main-unit a {
  padding: 10px 0px;
  margin-left: 25px;
  width: 135px;
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-top: 10px;
}
.main-unit a:hover {
	background-color: #cccccc;
}
.main-unit a:focus {
	background-color: #b2b2b2;
}
.materials {
	background: #ffbf47 url(../img/icon-1.svg) no-repeat;
    background-position: 83% 56%;
}
.materials::before {
  content: "";
  width: 60px;
  height: 59px;
  background-image: url(../img/new-flag.png);
  position: absolute;
  right: 0px;
  z-index: 2;
}
.tool {
	background: #3bbce3 url(../img/icon-2.svg) no-repeat;
    background-position: 86% 55%;
}
.equipment {
	background: #dc91d8 url(../img/icon-3.svg) no-repeat;
    background-position: 86% 55%;
}
.discount-link {
	background: #8ed78f url(../img/icon-4.svg) no-repeat;
    background-position: 83% 50%;
}
.delivery {
	background: #ffc047 url(../img/icon-5.svg) no-repeat;
    background-position: 90% 50%;
}

/*--------------Слайдер дрели/перфораторы-----*/
.wrap-servis {
    outline: 1px solid green;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.wrap {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	margin:0;
	padding:0;
	padding-top: 18px;
	padding-bottom: 22px;
	
}
.column1 {
	width: 300px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 20px;
}
.slide-nav {
  position: absolute;
  z-index:3;
}

.slide-nav button {
  background-color: rgba(255,255,255,0);
}

.left-nav,
.right-nav {
  width: 22px;
  height: 40px;
  cursor: pointer;
}

.left-nav {
  width: 22px;
  height: 40px;
  background-image: url(../img/icon-left.svg);
  position: absolute;
  top: 134px;
  left: 23px;
  border: none;
}

.right-nav {
  width: 22px;
  height: 40px;
  background-image: url(../img/icon-right.svg);
  position: absolute;
  top: 134px;
  right: -600px;
  border: none;
  background-color: red;
}

.slider-drill img {
	position: relative;
}
     
li.slider-drill {
    position: absolute;   
}
ul#slider {
    padding: 0;
}
.slider-wrapper {
	position: relative;
    width: 600px;
    min-height: 270px;
}
.drill-link {
    position: relative;
}
.drill-link a {
    background-color: #ee3643;
    position: absolute;
    display: block;
    top: 166px;
	width: 195px;
	border-radius: 3px;
}
.drill-links-next {
	 z-index: 2;
}
.drill-link a {
	background-color: #ee3643;
}
.drill-link a:hover {
	background-color: #ca2c37;
}
.drill-link a:focus {
	background-color: #ba2732;
}
.slider-info {
	position: absolute;
    top: 48px;
	z-index: 1;
}
.slider-info2 {
	position: absolute;
    top: 40px;
    left: 24px;
} 
.title-slider,
.drill-text {
  margin: 0;
  padding: 0;
}
.title-slider {
  padding-left: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.drill-text {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  padding-left: 24px;
}
.slider-info h2,
.slider-info2 h2 {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
	font-weight: bold;	
}

.drill-text,
.drill-text2 {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-transform: none;	
}

.drill-links-next2 {
	position:relative;
}
/*----------------Popular Products--------------------------*/
.popular-goods {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	background-color: #f9f5f0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 940px;
	margin-bottom:10px;
}

.drill-list-container {
	width: 940px;
    padding: 0 10px;
    -webkit-box-sizing: content-box;
     box-sizing: content-box;
}
img {
	background-image: url(img/Bosch-BFG-3000.jpg);
	background-image: url (img/Bosch-BFG-6000.jpg);
	background-image: url (img/Bosch-BFG-2000.jpg);
	background-image: url (img/Bosch-BFG-9000.jpg);
    background-color: #1e5471; 
}
.drill {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
		margin-bottom: 10px;
}
.catalog-item {
    position:relative;
    width:218px;
    margin-right:20px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
}
.catalog-drill {
    width:700px;
    margin:0 auto;
}

.product-card-actions {
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:20px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}
.product-card-actions .buy,
.product-card-actions .bookmarks {
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315; 
    background-color:#63a63e;
	color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;    
    border-radius:3px;
}
.buy {
	position:relative;
}
.buy::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  top: 10px;
  left: 12px;
  opacity: 0.3;
}
.buy:hover::before,
.buy:focus::before,
.buy:active::before {
  opacity: 1;
}
.buy:hover,
.buy:focus {
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #367315;
}
.product-card-actions .bookmarks {
	color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}

.catalog-item .product-card-actions {
    display:none;
}
.catalog-item:hover .product-card-actions {
    display:block;
}
.catalog-item:nth-child(3n){
    margin-right:0;
}
.drill {
    font-size:0;
}
.catalog-item{
    font-size:16px;
}
.catalog-item .flag {
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
    z-index:20;
}
.catalog-item .flag-new {
    background: url(../img/new-flag.png) no-repeat 0 0;
}

.manufacturers {
	 padding-bottom: 65px; 
}
.manufacturers-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 940px;
}
.manufacturers-list {
	background-color: #f9f5f0;
}
.brend {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 940px;
    padding: 0 10px;
	padding-bottom: 20px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}

.brend li {
	margin-top: 16px;
}
.brend img { 
  border: 1px solid #e5e5e5; 
  background-color: #f1f5f7; 
  margin: auto; 
  display: block;
}
.manufacture-list:hover,
.manufacture-list:focus {
  -webkit-box-shadow: 0px 0px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 0px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacture-list:active {
  -webkit-box-shadow: 0px 0px 10px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 0px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.popular-text {
	font-size: 30px;
    line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	vertical-align: top;
    padding-left: 20px;
    margin-top: 28px;
    margin-bottom: 31px;
	font-weight: normal;
}
.manufacturers-list h2 {
	font-size: 30px;
    line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	vertical-align: top;
    padding-left: 15px;
    width:250;
	padding-top: 10px;
	font-weight: normal;
}
.manufacturers-list {
	padding-bottom:10px;
}
.popular-links {
	font-size: 14px;
    line-height: 18px;
    background-color: #ee3643;
    color: #ffffff;
    text-transform: uppercase;
    width: 253px;
    text-align: center;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.manufacturers-list a {
	font-size: 14px;
    line-height: 18px;
	background-color: #ee3643;
	color: #ffffff;
	text-transform: uppercase;
	text-align:center;
	width: 253px;
	text-align: center;
    border-radius: 3px;
    background-color: #ee3643;
    margin-top: 24px;
    margin-bottom: 28px;
    margin-right: 17px;
    padding-top: 10px;
}

.drill h3 {
	font-family: PT Sans, Arial, sans-serif;
	font-size: 18px;
    line-height: 20px;
	color: #000000;
	text-transform: none;
	padding: 0;
    margin: 0;
    margin-top: 38px;
    margin-left: 15px;
    margin-right: 25px;
 
}
.drill p {
	font-family: PT Sans, Arial, sans-serif;
	font-size: 17px;
    line-height: 18px;
	color: #a9a9a9;
	text-align: center;
	text-decoration: line-through;
	min-height:20px;
    margin-top:12px;
    color:#999;
    text-decoration:line-through;
}

.materials, .tool, .equipment, .discount-link, .delivery {
    position: relative;
    width: 300px; 
    height: 126px;
    padding: 0;
    margin: 0;
    /*margin-top: 21px;
    margin-left: 22px;*/
}
.catalog-item {
    position: relative;
    width: 220px;
    margin-top: 8px;
    border: 1px solid #e5e5e5;
    font-weight: bold;
    text-align: center;
}


.drill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; 
    -ms-flex-wrap: wrap; 
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.drill li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 220px;
    margin-left: -35px;
	margin-top:5px;
}
.drill-info-prise {
    margin-bottom: 30px;
}
.vendor{-webkit-box-flex:1;-ms-flex:1;flex:1;}
		
.drill-info-prise a {
	font-family: PT Sans, Arial, sans-serif;
	font-size: 17px;
    line-height: 18px;
	text-align: center;
	color: #ffffff;
	background-color: #ee3643;
	position:relative;
    width:80px;
    margin-top: -13px;
	margin-bottom: 20px;
    padding:9px 33px;
    color: white;
    background:#ee3643;
    border-radius:3px;	
}
.drill-info-prise a:after{
    content:"";
    position:absolute;
    top:0;
    right:-28px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}

.buy:hover {
	background-color: #5fbb2d;
}
.buy:focus {
	background-color: #518534;
}

.bookmarks:hover {
	border-color: #32425c;
}
.bookmarks:focus {
	border-color: #c1c6ce;
}

/*services*/

.services {
    padding-top: 36px;
    background-color: #f4f8f9;
}
.services-text {
	width: 410px;
}
.services-text p,
.delivery-slide p {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px; 
	margin: 0;
    padding: 0;
	margin-top: 23px;  
}
.container-services {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
	background-color: #f4f8f9;
}
.service-link-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 68px;
	padding-left: 10px;
    background-image: url(../img/service.png);
    background-repeat: no-repeat;
    background-position: 243px 30px;
}

.services-name {
	font-size: 30px;
    line-height: 30px;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
	font-weight: normal;
    padding-left: 10px;
}
.services-text p {
	font-family: PT Sans, Arial, sans-serif;
	font-size: 13px;
    line-height: 24px;
	color: #000000;
	text-transform: none;
	margin-bottom: 0;
	width: 400px;
	padding-left: 10px;
}

.services-list-link a {
    font-size: 21px;
    line-height: 30px;
	text-transform: none;
	color: #ffffff;
    font-weight: bold;
	display: block;
    padding-top: 14px;
    padding-bottom: 16px;
    padding-left: 23px;
    background-color: #32425c;
    border-top: 1px solid #4d627b;
}
.services-list-link {
	display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 240px;   
}

a.active {
	background-color: #ffffff;
	color: #32425c;
    border-top: 1px solid #ffffff;
}
.active:hover {
	color: #ffffff;
}
.service-item:not(.active):hover {
    background-color: #293449;
}
.delivery-slide {
	min-height: 137px;
    width: 620px;
	padding: 0;
    padding-bottom: 128px;
	margin: 0 auto;
	margin-top: 70px;
	background: url(../img/delivery.png) no-repeat;	
	background-position: 100% 100%;	
}
.guarantee-slide {
	display: none;
	min-height: 137px;
    width: 610px;
    padding-bottom: 128px;
	margin: 0;
	background: url(../img/guarantee.png) no-repeat;
	background-position: 100% 100%;	
}
.credit-slide {
	display: none;
	min-height: 137px;
    width: 610px;
    padding-bottom: 128px;
	margin: 0;
	background: url(../img/credit.png) no-repeat;
	background-position: 100% 100%;	
}
.services-list-link a:hover {
	background-color: #293449;
}
.services-list-link a:focus {
	background-color: #ffffff;
	color: #32425c;
}
.delivery-name {
	font-size: 36px;
    line-height: 36px;
	color: #32425c;
	text-transform: uppercase;
	font-weight: bold;
	padding-right: 15px;
    margin:0 auto;
}
.delivery-description ,
.guarantee-description,
.credit-description {
	font-family: PT Sans, Arial, sans-serif;
	font-size: 13px;
    line-height: 24px;
	text-transform: none;
}
.guarantee-name {
	font-size: 36px;
    line-height: 24px;
	color: #32425c;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0;
    margin:0 auto;
}
.credit-name {
	font-size: 36px;
    line-height: 24px;
	color: #32425c;
	text-transform: uppercase;
	padding: 0;
    margin:0 auto;
}
.application-link {
	font-size: 14px;
    line-height: 18px;
	color: #ffffff;
	background-color: #ff5357;
}

.info-wrapper .advertising-contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.advertising h2 {
	font-size: 30px;
    line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 27px;
	font-weight: 300;
	margin-bottom: 25px;
}
.advertising p {
	font-family: PT Sans, Arial, sans-serif;
	font-size: 13px;
    line-height: 24px;
	text-transform: none;
	margin: 0;
    padding: 0;
    margin-bottom: 23px;
}
.advertising {
	  width: 540px;
	  padding-top: 55px;
	  padding-bottom: 93px;
}
.advertising p:last-of-type {
    margin-bottom: 21px;
}
.advertising ul {
	margin: 0;
    padding: 0;
    margin-bottom: 47px;
}
.advertising-links-company li {
	font-size: 18px;
    line-height: 20px;
	font-weight: bold;
	padding-left: 37px;
    margin-bottom: 21px;
}
.company-name {
	 position: relative;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
}
.advertising-links-company li::before {
	content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}
.contacts {
	width: 300px;
    margin-left: 75px;
	padding-top: 55px;
	padding-bottom: 40px;
}
.contacts img {
	margin-bottom: 47px;
}
.advertising-contacts a {
	text-decoration: none;
    text-align: center;
    padding-top: 12px;
    padding-right: 40px;
    padding-bottom: 11px;
    padding-left: 40px;
    border-radius: 3px;
}
.contacts a {
	padding-right: 58px;
    padding-left: 64px;
}
.information-company,
.contacts-link  {
	font-size: 14px;
    line-height: 18px;
	color: #ffffff;
	background-color: #ee3643;
	text-transform: uppercase;
}
.contacts-map {
	background-image: url (img/map1.png);
    background-color: #eeeae3; 
	
}

.contacts h2 {
	font-family: Cuprum, Arial, sans-serif;
	font-size: 30px;
    line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	
}
.contacts p {
	font-family: PT Sans, Arial, sans-serif;
	font-size: 13px;
    line-height: 24px;
	text-transform: none;
    margin-bottom: 31px;;
}



.modal {
    position: fixed;
	 display: none;	
}
.modal h3 {
	 text-transform: none;
	 
 }
.feedback {
	position: relative;
    bottom: 632px;
    left: 50%;
    margin-left: -310px;
    width: 620px;
    color: #000000;
    background-color: #ffffff;
    border-top: 7px solid #ee3643;
    -webkit-box-shadow: 0 0 30px rgba(0,0,0, 0.5);
            box-shadow: 0 0 30px rgba(0,0,0, 0.5);
}
.modal-container {
	width: 460px;
    margin: 0 auto;
}
.modal-container:nth-of-type(1) {
    padding-top: 48px;
    padding-bottom: 33px;
}
.letter-form .modal-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
			
}
.feedback p {
    margin: 0;
    padding: 0;
}
.letter-item {
    width: 220px;
    margin: 0;
    margin-bottom: 10px;
}
.letter-text {
    width: 100%;
}
.letter-item label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 18px;
	text-transform: none;
}
.letter-item input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 220px;
    margin-bottom: 20px;
    padding: 7px 14px;
    padding-bottom: 9px;
    background-color: transparent;
    border-radius: 3px;
}
.letter-form input::-webkit-input-placeholder,
.letter-form textarea::-webkit-input-placeholder {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}
.letter-form input:-ms-input-placeholder,
.letter-form textarea:-ms-input-placeholder {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}
.letter-form input::-ms-input-placeholder,
.letter-form textarea::-ms-input-placeholder {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}
.letter-form input::placeholder,
.letter-form textarea::placeholder {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}
.letter-text textarea {
    padding-top: 8px;
    padding-left: 14px;
	width: 440px;
    min-height: 100px;
}
.your-mail-link {
	font-size: 14px;
    line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #ee3643;
}
.modal-button {
	background-color: #f4f4f4;
    padding: 36px 77px;
}
.button-container {
	display: block;
	width: 100%;
}
.feedback .your-mail-link {
    width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #ee3643;
	border-radius: 3px;
}

.close {
    position: absolute;
    top: 9px;
    right: 9px;
    width: 21px;
    height: 21px;
    background-color: transparent;
    cursor: pointer;
}
.close::before,
.close::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 0px;
    width: 22px;
    height: 3px;
    background-color: #ee3643;
}
.close::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.close::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.modal-map {
    position: relative;
    bottom: 803px;
    left: 50%;
    margin-left: -470px;
    width: 940px;
    color: #000000;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 30px rgba(0,0,0, 0.5);
            box-shadow: 0 0 30px rgba(0,0,0, 0.5);
}
.modal-map p {
    margin: 0;
    padding: 0;
}
/*FOOTER*/
.main-section {
	font-size: 30px;
    line-height: 30px;
	color: #ffffff;
	background-color: #ee3643;
	padding-top: 19px;
    padding-right: 41px;
    padding-bottom: 15px;   
    padding-left: 41px;
    border-bottom: 5px solid #b52933;
    text-transform: uppercase;
}
.links-sections {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between; 
    -ms-flex-wrap: wrap; 
        flex-wrap: wrap;
	width: 940px;
    padding: 0 10px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
.links-sections ul { 
    margin: 0;
    padding: 0;
}
.links-sections li {
	font-size: 18px;
    line-height: 24px;
    padding-top: 38px;
    padding-left: 56px;
}
.main-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: start;
	    align-content: flex-start;
}
.footer-top-line {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-line-pack: justify;
	    align-content: space-between;
	width: 605px;
}
.footer-top-line a {
	font-size: 18px;
    line-height: 24px;
	color: #f3f7f9;
	text-transform: none;
}
.footer-top-line li {
	padding-top: 38px;
}
.footer-top-line a:hover {
	text-decoration: underline;
}
.footer-top-line a:focus {
	opacity: 0.5;
}
span {
	font-size: 18px;
    line-height: 24px;
	color: #f3f7f9;
	text-transform: none;
}
.footer-navigation a {
	font-size: 18px;
    line-height: 24px;
	color: #ffd180;
	text-transform: none;
}
.footer-navigation a:hover {
	text-decoration: underline;
}
.footer-navigation a:focus {
	opacity: 0.5;
}

.footer-data p {
	font-size: 16px;
    line-height: 18px;
	text-transform: none;
	color: #ffffff;
}
.social-networks a {
	background-color: #212a3a;
}
.main-footer-bar {
	background-color: #293449;
}
.footer-container-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between; 
	width: 940px;
    padding: 0 10px;
	padding-bottom: 17px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
.adress{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0;
    padding: 0;
    padding-bottom: 31px;
	margin-top: 27px;
    margin-left: 3px;
}
.footer-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-line-pack: end;
	    align-content: flex-end;
	width: 580px;
}
.footer-navigation li {
	padding-top: 33px;
}
.footer-nav-list ul {
	margin: 0;
    padding: 0;
}
.footer-nav-list li {
	vertical-align: middle;
    padding-top: 26px;
    padding-left: 56px;
}
.main-footer-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 940px;
    padding: 0 10px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
.footer-data {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;	
	width: 320px;
    margin-left: 2px;
	padding-top: 22px;
}

.social-networks {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 120px;
	padding-top: 22px;
	padding-right: 80px;
}
.social-button { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
 
.social-networks a {
	background-color: #212a3a;
	margin-left: 6px;    
}
.social-networks a:hover {
	background-color: #ee3643;
}
.social-networks a:focus {
	background-color: #ee3643;
}
.contact-footer-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	width: 320px;
}
.contact-method,
.contact-designed {
	margin: 0 auto;
    padding: 0;
	padding-top: 15px;
}
.contact-designed {
	margin-left: 20px;
	
}
.contact-method p,
.contact-designed p {
	font-size: 18px;
    line-height: 24px;
	text-transform: none;
	color: #ffffff;
	margin: 0;
    padding-top: 20px;
	padding-right: 16px;
}
.contact-method  p,
.contact-method span {
	padding-left: 17px;
}
.contact-method span,
.contact-designed a {
	font-size: 16px;
    line-height: 18px;
	text-transform: lowercase;
	color: #ffd180;
	
}
.contact-method span:hover,
.contact-designed a:hover {
	text-decoration: underline;
} 
.contact-method span:focus,
.contact-designed a:focus {
	color: #ee3643;
}
.way {
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 30px;
  width: 940px;
}
.way .way-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.way-list {
  margin: 0;
  padding: 0;
}
.way-list {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  text-transform: uppercase;
}
.way-list a {
  color: #000000;
}
.way-list .way-home {
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 12px;
  display: block;
  margin-top: 2px;
  margin-left: -2px;
}
.way-list li {
  margin-left: 37px;
  position: relative;
}

.way-list li:first-child {
  margin: 0;
  background-image: none;
}

.way-list li:nth-child(1n+2)::before {
  content: "";
  width: 8px;
  height: 12px;
  position: absolute;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  left: -25px;
  top: 2px;
}

.way-list li:nth-child(2)::before {
  left: -26px;
}
.block-user {
	font-size: 21x;
    line-height: 21px;
	text-transform: none;
	font-weight: bold;
}
.links a {
	font-size: 16x;
    line-height: 18px;
	text-transform: none;
	color: #32425c;
	text-decoration:underline;
}
.ikon-home {
	fill-opacity: 1.0; 
	margin-right: 15px;
}

.drill-caption {
	font-size: 30px;
    line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
	padding-top: 6px;
	padding-left: 32px;
	background-color: #f2f6f8;
}
.partition-title {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 940px;
	background-color: #f2f6f8;
    margin-bottom: 20px;
}

.page a {
	font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
	color: #000000;
	border: 1px solid #e5e5e5;
}
.page a:hover {
	  border-color: #bdc6ca;
}
.page a:focus {
	border-color: #ee3643;
}
.caption {
	font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
	font-weight: bold;
}
.perforators p {
	font-family: PT Sans, Arial, sans-serif;
	font-size: 13px;
    line-height: 24px;
    text-transform: none;
}
.perforators {
	background-color: #f2f6f8;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*----Catalog----*/
.main-container-catalog {
	padding-left: 10px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.user-links-container { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;
    width: 300px; 
}
.block-user  {
	position: relative;
    display: block;
    padding: 13px 65px 14px 47px;
	background-color: #ffffff;
}

.links a {
    vertical-align: top;
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    padding: 8px 15px 3px 18px;
}

.catalog-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-ms-flex-line-pack: justify;
	    align-content: space-between;
}
/*-----------Фильтр-------*/

.filters-container {
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-line-pack: center;
	    align-content: center;	
}
.filters {
    width: 220px;
    margin-right: 20px;
}
.firm-tool li {
	padding-bottom: 10px;
}
.filters .name-form {
    margin-bottom: 10px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
    line-height: 18px;
	text-transform: uppercase;
    color: #000000;
}
.name-form-container {
	margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 6px;
	margin-bottom: 11px;
    background-color: #f7f3ec;
    border-radius: 3px;
}
.filter-name {
	font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 30px;
	
    font-weight: bold;
    text-transform: uppercase;
}
.amount {
    position: relative;
    height: 41px;
    margin-bottom: 9px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f7f3ec;
    border-radius: 0 0 5px 5px;
}

.amount .scale {
    height: 2px;
    background: #d7dcde;
}

.amount .bar {
    width: 80%;
    height: 2px;
    background: #00ca74;
}

.amount .ranging {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
            box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.amount .ranging-min {
    left: 18px;
}

.amount .ranging-max {
    left: 160px;
}

.price-controls {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
			 padding-bottom: 51px;
}
.price-controls input {
	width: 95px;
    padding-top: 9px;
    padding-bottom: 11px;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f7f3ec;
}
.minprice {
    position: relative;
}
.minprice::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    width: 10px;
    height: 1px;
    background-color: #000000;
}
.filter-categories {
	font-size: 15px;
    line-height: 20px;
	margin-bottom: 10px;
	margin-right: 5px;
	text-transform: uppercase;
}

.filters .filter-3 {
	border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 63px;
	margin-top: 12px;
}
.filter-categories label {
	position: relative;
    display: block; 
	padding:0;
	margin:0;
}
.filter-checkbox + label::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -34px;
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.filter-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -34px;
    width: 27px;
    height: 23px;
    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.filter-radio + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -2px;
    width: 17px;
    height: 17px;
    border: 4px solid #c5c5c5;
    border-radius: 50%;
}

.filter-radio:checked + label::after {
    content: "";
    position: absolute;
    left: -27px;
    top: 6px;
    width: 9px;
    height: 9px;
    background-color: #c5c5c5;
    border-radius: 50%;
}
.filter-link {
	display: block;
    padding-top: 10px;
    padding-bottom: 8px;
    width: 140px;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    background-color: #ffffff;
    border: none;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.filter-checkbox:focus + label::before {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
.filter-categories:active {
    opacity: 0.4;
}

.filter-radio:hover + label::before{
    border-color: #b5b5b5;
}

.filter-radio:hover + label::after{
    background-color: #b5b5b5;
}
/*----------------Сортировка-------*/

.name-form,
.sorting {
	margin: 0;
    padding: 0;
    padding-bottom: 5px;
    padding-left: 19px;
    background-color: #f7f3ec;
    border-radius: 3px;
}
.sorting span {
	 font-family: "PT Sans", "Arial", sans-serif;
	 font-size: 13px;
     line-height: 18px;
     text-transform: uppercase;
	color: #000000;
	margin-right: 140px;
    text-transform: uppercase;
    margin-top: 5px;	
}
.filters fieldset { 
margin: 0; 
padding: 0; 
border: 0 none; 
}


.catalog-column-container {
    -ms-flex-wrap: column;
    flex-wrap: column;
    width: 220px;
	margin-right: 20px;
}
ul.sorting-list {		
	display: -webkit-box;		
	display: -ms-flexbox;		
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
    stify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 410px;
    margin-right: 5px;
}
.sort-item {
	display: block;
    margin-top: 10px;
    color: rgba(0,0,0, 0.3);
    border-bottom: 1px dotted #ca2c37;
}
.by-price {
	color: #cacaca;
    border: none;
}
.sort-up-down {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 43px;
    margin: 0;
    padding: 0;
    margin-top: 11px;
	margin-right: 15px;
}
.sort-up-down a {
	width: 11px;
    height: 10px;
}
.sort-item:hover {
    color: rgba(0,0,0, 1);
    border-bottom: 1px solid #ca2c37;
}
.sort-item:active {
    color: #ee3643;
    border-bottom: none;
}
.sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 10px;
	width:700px;
}

.sorting-list a {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  
}
.sorting-list {
    font-size: 0;
    margin: 0;
    padding: 0; 
}
.sorting-list li {
	vertical-align: top;
}
.sorting-list a:first-child {
    margin-right: 45px;
}

.sorting-list a:nth-child(2) {
    margin-right: 55px;
}
.icon-up path,
.icon-down path {
	fill: #c5c5c5;
}
.icon-up path:hover,
.icon-down path:hover {
	fill: #231f20;
}
.icon-up path:active,
.icon-down path:active {
	fill: #ee3643;
}
.drill-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
	width: 700px;
	margin: 0;
    padding: 0;
}
.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  padding-top: 50px;
  list-style: none;
}
.page-item {
  margin-right: 10px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}
.page-item a {
  display: block;
  width: 38px;
  min-height: 30px;
  padding-top: 8px;
  text-align: center;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
.page-item:last-child a {
  width: 140px;
}
.page-item a:hover,
.page-item a:focus {
  border: 1px solid #bdc6ca;
}
.page-item a:active {
  border: 1px solid #ee3643;
}
.page-one a {
  color: #ffffff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}
.page-one a:hover {
  color: #ffffff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}
.perforators {
	margin-bottom: 0;
    padding-top: 64px;
	padding-left: 13px;
    padding-bottom: 68px;
}
.perforators h2 {
	margin: 0;
    padding: 0;
    margin-bottom: 26px;
}
.perforators p {
	margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
}
/*------------------Каталог/ окно добавления товара в корзину----------*/

.ad-to-basket {
	font-size: 30px;
    line-height: 30px;
	text-transform: none;
}
.actions {
	background-color: #f1f1f1;
}
.pop-up-issue {
	font-size: 14px;
    line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ee3643;
}
.pop-up-continue {
	font-size: 14px;
    line-height: 18px;
	text-transform: uppercase;
}
.pop-up-basket {
	position: relative;
	display: none;
    bottom: 1880px;
    left: 50%; 
    margin-left: -310px;
    width: 620px;
    color: #000000;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 30px rgba(0,0,0, 0.5);
    box-shadow: 0 0 30px rgba(0,0,0, 0.5);
    
}
.ad-to-basket {
	padding: 68px;
    padding-left: 180px;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px; 
    border-top: 7px solid #ee3643;
}
.ad-to-basket::before {
    content: "";
    position: absolute;
    top: 48px;
    left: 80px;    
    width: 66px;
    height: 66px;
    background-image: url(../img/form-1.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.basket-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 37px;
    margin: 0 auto;
    width: 460px;
    text-align: center;
}
.pop-up-issue {
	background-color: #ee3643;
	width: 220px;
	border-radius: 3px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.pop-up-continue {
	background-color: #ffffff;
	color: #000000;
	width: 220px;
	border-radius: 3px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.actions .button {
	 width: 220px;
}